{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-xl-6 " xmlns:back-ground="http://www.w3.org/1999/xhtml">

        {% if get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
            {{ get_flashed_messages()[0] }}
        </div>
        {% endif %}
        <h4 class="card p-3">Change Password</h4>
        <form class="card p-3 mb-5" action="{{ url_for('login.passwordmanagement')}}" id="passwordmanagement"
              method="post">
                <div class="mb-3 col-xl-6 form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="newpassword"
                       value=""
                       required>
                </div>
                <div class="mb-3 col-xl-6 form-group">
                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="confirmpassword"
                       value=""
                       required>
                </div>






            <div class="mb-3 form-group" align="right">
                <button class="btn btn-primary" id="btnSavePasswd" type="button">Save</button>
            </div>
        </form>


    </div>


    <p></p>


</div>

<script>
$('#btnSavePasswd').on('click',function(){
    var form_id =  $(this).closest('form').attr("id");
    var values={};
    $.each($('#'+form_id).serializeArray(), function(i, field) {
        values[field.name] = field.value;
    });
    var password= values["password"];
    var confirmpassword=values["confirmpassword"];
    if (password != confirmpassword) {
        alert("New Password Not Match");
        return false;
    } else {
        $(this).closest('form').submit();
        return true;

    }

});
</script>



{% endblock %}
